body {
    height: 100vh;
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(../img/rsz_2pexels-pixabay-210607.jpg);
}

.search-query {
    text-transform: uppercase;
    font-weight: bold;
}

.search-area {
    opacity: 0.7;
}

.btn {
    opacity: 1.25;
    font-weight: 1000;
}

.wrapper {
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-height: 100vh;
}

.search-background {
    background-image: url(../img/bckg.jpg);
    height: 200px;
    background-repeat: repeat;
    opacity: 1.25;
}

#resultsList li {
    list-style-type: none;
    border-bottom: 1px solid gray;
    margin-top: 1rem;
    padding-bottom: .4rem;
}

#resultsList a {
    text-decoration: none;
    color: black;
}

#resultsList a:hover {
    text-decoration: none;
    color: blue;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-150%);
    }
}

.marquee-row {
    overflow: hidden;
    padding-bottom: 0;
    margin-bottom: 0;
}

.marquee {
    white-space: nowrap;
    font-size: 1.6rem;
    animation: marquee 70s linear infinite;
    display: flex;
}

.marquee li {
    list-style: none;
    flex-shrink: 0;
    padding: 0 1rem;
}

#chartDiv {
    width: 100vw;
}

@media only screen and (max-width: 600px) {
    .wrapper {
        width: 100vw;
    }
}